[Desktop Entry]
Version=1.0
Type=Application
Name=dmenu
Icon=/home/kaze/.config/openbox/launcher/icon/white/dmenu.png
Exec=sh /home/kaze/.config/openbox/launcher/bin/dmenu.sh
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false
