[Desktop Entry]
Version=1.0
Type=Application
Name=mpc_stop
Icon=/home/kaze/.config/openbox/launcher/icon/stop.png
Exec=sh /home/kaze/.config/openbox/launcher/bin/mpc_stop.sh
NoDisplay=false
Categories=X-XFCE;X-Xfce-Toplevel;
StartupNotify=false
Terminal=false